<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/CSS/Create.css" />
        <title>Title</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous" />
    </head>
    <body>
        <section class="section">
            <div class="mainDiv">
                <form>
                    <input type="text" placeholder="Назва" />
                    <input type="text" placeholder="Опис" />

                    <div class="divselect">
                        <label for="direct">Напрямок групи:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="">Html</option>
                            <option value="">Css</option>
                            <option value="">Js</option>
                            <option value="">Java</option>
                        </select>
                    </div>
                    <div class="divselect">
                        <label for="vanue">Місце проведення:</label>

                        <select class="form-select" aria-label="Default select example">
                            <option value="">Виноградів</option>
                            <option value="">Ужгород</option>
                            <option value="">Варшава</option>
                            <option value="">Нью-Йорк</option>
                        </select>
                    </div>

                    <div class="divselect">
                        <label for="choose">Вибрати вчителя:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="">Дмитро Цоцинець</option>
                            <option value="">Василь Совтан</option>
                        </select>
                    </div>
                    <input type="submit" value="Створити" class="button" />
                </form>
            </div>
            <section></section>
        </section>
    </body>
</html>
