@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Mea+Culpa&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.navbar {
    background-color: #aac8df;
    height: 12vh;
    text-shadow: 3px 3px 15px;
    box-shadow: 0 0 3px;
    font-weight: 500;
    font-size: 1.7rem;
}

.navbar-brand {
    font-size: 2.4rem;
}

.nav-link {
    color: #050a30;
    margin-left: 4vh;
    text-shadow: 3px 3px 10px;
}

.nav-link:hover {
    color: beige !important;
}

.sect {
    min-height: 88vh;
    display: flex;
    align-items: center;
    background-color: #daeeff;
}

.osnova {
    background-color: white;
    min-height: 70vh;
    width: 50%;
    margin: 0 auto;
    border-radius: 3vh;
    box-shadow: 2px 2px 23px black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.osnova div {
    border-radius: 1vh;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 2rem;
    width: 30rem;
    font-family: "Ubuntu", sans-serif;
    color: white;
    padding: 10px;
}

.osnova div div {
    display: flex;
    width: 30%;
    border: 0;
    justify-content: space-around;
}

.osnova a {
    text-decoration: none;
}
.buttonJS {
    background-color: #e2c000;
    border-bottom: 8px solid #a28a03;
    border-right: 6px solid #a28a03;
    border-radius: 10px;
}
.buttonJS:active {
    background-color: #a28a03;
}
.buttonJS:hover {
    cursor: pointer;
}

.buttonCSS {
    background-color: dodgerblue;
    border-bottom: 8px solid #1c5f9f;
    border-right: 6px solid #1c5f9f;
    border-radius: 10px;
}
.buttonCSS:active {
    background-color: #1c5f9f;
}
.buttonCSS:hover {
    cursor: pointer;
}

.buttonHTML {
    background-color: orange;
    border-bottom: 8px solid #966100;
    border-right: 6px solid #966100;
    border-radius: 10px;
}
.buttonHTML:active {
    background-color: #966100;
}
.buttonHTML:hover {
    cursor: pointer;
}
