@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Mea+Culpa&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.navbar {
    background-color: #aac8df;
    height: 12vh;
    text-shadow: 3px 3px 15px;
    box-shadow: 0 0 3px;
    font-weight: 500;
    font-size: 1.7rem;
}

.navbar-brand {
    font-size: 2.4rem;
}

.nav-link {
    color: #050a30;
    margin-left: 4vh;
    text-shadow: 3px 3px 10px;
}

.nav-link:hover {
    color: beige !important;
}

.sect {
    min-height: 88vh;
    display: flex;
    align-items: center;
    background-color: #daeeff;
}

.osnova {
    height: 70vh;
    width: 85%;
    margin: 0 auto;
    border-radius: 3vh;
    box-shadow: 2px 2px 23px black;
    display: flex;
    background-color: #aac8df;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.osnova2 {
    background-color: white;
    width: 90%;
    border-radius: 3vh;
    margin: 0 auto;
    display: flex;
    height: 100%;
}

.div01 {
    height: 100%;
    width: 40%;
}

.div011 {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
}
.div012 {
    height: 40%;
    width: 100%;
    font-weight: 800;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
    text-align: justify;
    font-size: 1.5rem;
}
.div013 {
    height: 40%;
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div013 input {
    padding: 8px;
    border: 3px solid #71b4c4;
    border-radius: 10px;
}


.div02 {
    height: 100%;
    width: 60%;
    border-right: 3px solid black;
}

.div03 {
    height: 20%;
    width: 100%;
    display: flex;
    border-bottom: 3px solid black;
}

.div031 {
    height: 100%;
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    text-align: center;
}
.div032 {
    height: 100%;
    width: 100%;
    padding-top: 3%;
    text-align: center;
}

.div04 {
    height: 40%;
    width: 100%;
    font-weight: 800;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
    text-align: justify;
    font-size: 1.5rem;
}

.div05 {
    height: 40%;
    width: 100%;
    display: flex;
}

.div051 {
    height: 100%;
    width: 100%;
    padding: 2%;
}
.div052 {
    height: 100%;
    width: 100%;
    padding: 2%;
}

.img1 {
    height: 100%;
    width: 100%;
    border-radius: 35px;
    border: 3px solid black;
}

.img2 {
    height: 100%;
    width: 100%;
    border-radius: 35px;
    border: 3px solid black;
}

.img3 {
    height: 100%;
    width: 100%;
    border-radius: 35px;
    border: 3px solid black;
}

.button {
    width: 80%;
    height: 70%;
    border-radius: 1vh;
    border: 0;
    border-bottom: 7px solid #487e8b;
    border-right: 5px solid #487e8b;
    color: white;
    background-color: #71b4c4;
    font-weight: 1000;
    font-size: 1.4rem;
}

.button:active {
    border-bottom: 3px solid #487e8b;
    background-color: #3d8b9d;

    border-right: 1px solid #487e8b;
}
