@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Mea+Culpa&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.navbar {
    background-color: #aac8df;
    height: 12vh;
    text-shadow: 3px 3px 15px;
    box-shadow: 0 0 3px;
    font-weight: 500;
    font-size: 1.7rem;
}

.navbar-brand {
    font-size: 2.4rem;
}

.nav-link {
    color: #050a30;
    margin-left: 4vh;
    text-shadow: 3px 3px 10px;
}

.nav-link:hover {
    color: beige !important;
}

.sect {
    min-height: 88vh;
    display: flex;
    align-items: center;
    background-color: #daeeff;
}

.osnova {
    min-height: 70vh;
    width: 85%;
    margin: 0 auto;
    border-radius: 3vh;
    box-shadow: 2px 2px 23px black;
    display: flex;
    background-color: #aac8df;
}
