<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/CSS/Create.css" />
        <title>Title</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous" />
    </head>
    <body>
        <section class="section">
            <div class="mainDiv">
                <form>
                    <input type="text" placeholder="Назва" />
                    <input type="text" placeholder="Адреса" />


                    <input type="submit" value="Створити" class="button" />
                </form>
            </div>
            <section>
                <div class="table2">
                    <table class="table">
                        <thead class="table-dark">
                            <tr class="tr">
                                <th>Номер</th>
                                <th>Назва</th>

                                <th>Складність</th>
                                <th>Дії</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>№1</td>
                                <td>Html</td>
                                <td>Легко</td>

                                <td><button type="button" class="btn btn-dark">Деталі</button></td>
                            </tr>
                            <tr>
                                <td>№2</td>
                                <td>css</td>

                                <td>Легко</td>
                                <td><button type="button" class="btn btn-dark">Деталі</button></td>
                            </tr>
                            <tr>
                                <td>№3</td>
                                <td>Java</td>

                                <td>Важко</td>
                                <td><button type="button" class="btn btn-dark">Деталі</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    </body>
</html>
