<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
        <link rel="stylesheet" href="/CSS/Create.css">
    </head>
    <body>
    <section class="section">


      <div class="mainDiv">
                <div class="divselect">
                    <h2>Назва: Клас 1 </h2>
                    <p>Адреса:Європейська 14</p>
                </div>
            <a href="/Views/Destination/Edit.html">Перейти</a>
            </div>
    </section>
    </body>
</html>
