<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/CSS/schedule.css" />
        <title>Title</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous" />
    </head>
    <body>
        <section class="section">
            <div class="mainDiv">
                <form>
                    <div class="divselect">
                       <label for="vanue">Редагувати місце проведення:</label>

                        <select class="form-select" aria-label="Default select example">
                            <option value="">Виноградів</option>
                            <option value="">Ужгород</option>
                            <option value="">Варшава</option>
                            <option value="">Нью-Йорк</option>
                        </select>
                    </div>
                    <div class="divselect">
                    <label for="vanue">Редагувати день проведення:</label>
                    <select class="form-select" aria-label="Default select example">
                            <option value="">Понеділок</option>
                            <option value="">Вівторок</option>
                            <option value="">Середа</option>
                            <option value="">Четвер</option>
                            <option value="">Пятниця</option>
                            <option value="">Субота</option>
                            <option value="">Неділя</option>
                        </select>
                    </div>
                    <input type="time">
                    <input type="submit" value="Редагувати" class="button" />
                </form>
            </div>
        </section>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    </body>
</html>

