@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
.navbar{
    background-color: #aac8df;
    font-size: 1.7rem;
    font-weight: 500;
    height: 12vh;
    text-shadow: 3px 3px 15px;
    box-shadow: 0 0 11px;
}

.navbar-brand{
    font-size: 2.4rem;
}

.nav-link{
    color: #050a30;
    margin-left: 4vh;
    text-shadow: 3px 3px 10px;
}

.nav-link:hover{
    color: beige;
}

body{
    background-color: #daeeff;
}
