.navbar {
    background-color: #aac8df;
    height: 12vh;
    text-shadow: 3px 3px 15px;
    box-shadow: 0 0 11px;
    font-weight: 500;
    font-size: 1.7rem;
}

.navbar-brand {
    font-size: 2.4rem;
}

.nav-link {
    color: #050a30;
    margin-left: 4vh;
    text-shadow: 3px 3px 10px;
}

.nav-link:hover {
    color: beige !important;
}

.main {
    height: 88vh;
    background-color: #daeeff;
    align-content: center;
}

.cartka {
    background-color: white;
    height: 50vh;
    width: 50vw;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    align-content: center;
}

.photoCartka {
    width: 33%;
}

.inform {
    width: 67%;
    align-content: center;
}

.name {
    background-color: #aac8df;
    height: 30%;
    width: 80%;
    margin: 10px auto;
}

.informatia{
    background-color: #aac8df;
    height: 40%;
    width: 80%;
    margin: 10px auto;
}
