body{
    background-color: #daeeff;
}

.mainDiv{
    background-color: white;
    width: 40%;

    margin: 0 auto;
    text-align: center;
    border-radius: 3vh;
    align-content: center;
    box-shadow: 2px 2px 23px black;
}

.mainDiv input{
    width: 50%;
    height: 8vh;
    margin: 1vh;
    background-color: #aac8df;
}

input{
    color: #050a30;
    font-size: 1.6rem;
    border-radius: 2vh;
    font-weight: 600;
    padding: 10px;
    box-shadow: 2px 2px 16px black;
}

.submit{
    font-size: 2.1rem;
    margin-top: 5vh!important;
}

.section{
    align-content: center;
    height: 88vh;
    width: 100%;
}

section{
    height: 104vh;
    width: 100%;
    align-content: center;
}
.divselect{
     color: #050a30;
    font-size: 1.6rem;
    border-radius: 2vh;
    font-weight: 600;

    box-shadow: 2px 2px 16px black;
    margin: 0 auto;
    width:50%;
     background-color: #aac8df;
    padding: 20px !important;
    margin-top: 20px;
}
.table2{
    text-align: center;
    height: 92%;
    align-content: center;
    color: #ffffff;
    display: flex;
    background-color: white;
    width: 60%;
    margin: 0 auto;
    padding: 38px;
    border-radius: 3vh;
    justify-content: center;
    box-shadow: 2px 2px 23px black;
}

.table2 td{
    border: outset;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    color: #050a30;
    align-content: center;
}

.table2 th{
    padding: 20px;
    border: outset;
    font-size: 1.7rem;
    align-content: center;
}

.btn{
    font-size: 1.4rem;
}
.button {
    width: 80%;
    height: 70%;
    border-radius: 1vh;
    border: 0;
    border-bottom: 7px solid #487e8b;
    border-right: 5px solid #487e8b;
    color: white;
    background-color: #71b4c4;
    font-weight: 1000;
    font-size: 1.4rem;
}

.button:active {
    border-bottom: 3px solid #487e8b;
    background-color: #3d8b9d;

    border-right: 1px solid #487e8b;
}
