<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Сторінка завданнь</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="/CSS/Create.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/teacherpage/teacherpage.html">Кабінет вчителя</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" aria-current="page" href="#">Тести</a>
                            <a class="nav-link" href="#">Розклад</a>
                            <a class="nav-link" href="#">Групи</a>
                            <a class="nav-link" aria-disabled="true" href="/homework/homework.html">Д/З</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
        <section class="section">
            <div class="mainDiv">
                <form>
                    <input type="text" placeholder="Назва">
                    <input type="text" placeholder="Опис">
                    <input type="submit" value="Створити" class="button">
                </form>
                <a href="Edit.html">Перейти</a>
            </div>
        </section>
            <section>
                <div class="table2">
                    <table class="table">
                       <thead class="table-dark th1">
                           <tr><th class="th">Номер</th><th>Назва</th><th>Опис</th><th>Дії</th></tr>
                       </thead>
                       <tbody>
                           <tr><td>№1</td><td>HTML</td><td>Структура</td><td><button type="button" class="btn btn-dark">Деталі</button></td></tr>
                           <tr><td>№2</td><td>CSS</td><td>Стилізація</td><td><button type="button" class="btn btn-dark">Деталі</button></td></tr>
                           <tr><td>№3</td><td>JAVASCRIPT</td><td>Інтерактивність</td><td><button type="button" class="btn btn-dark">Деталі</button></td></tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footerMain">
                <div class="Div1">
                    <a href="/studentpage/studentpage.html">СТОРІНКА ВЧИТЕЛЯ</a>
                </div>
                <div class="Div2">
                    <a href="/teacherpage/teacherpage.html">СТОРІНКА СТУДЕНТА</a>
                <div class="Div3">
                    <a href="directionpage.html">СТОРІНКА НАПРЯМОК</a>
                </div>
                </div>
            </div>
        </footer>
    </body>
</html>
