<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
        <link rel="stylesheet" href="/CSS/Create.css">
    </head>
    <body>
    <section class="section">


      <div class="mainDiv">
                <div class="divselect">
                    <h2>Назва: Клас 1 </h2>
                    <p>Опис:</p>
                </div>

                <a href="/schedule/schedule.html" class="btn-shedule">Редагувати</a>
                <!--<input type="submit" value="Створити" class="submit" />-->
            </div>
    </section>
    </body>
</html>
